body {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #header {
        text-align: center;
        border-bottom: 1px solid #666;
        padding-bottom: 3px;
    }

    h3,
    h4,
    h5 {
        margin: 0;
        line-height: 25px;
    }

    table,
    td,
    th {
        border-color: #eee;
        font-size: 9px;
        border-collapse: collapse;
    }

    caption {
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    #footer h5 {
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    #opciones {
        position: fixed;
        top: 0;
        background-color: #999;
        padding: 5px;
        right: 0;
        z-index: 99999;
        margin-right: 8px;
        display: inline-block;
        -moz-box-shadow: 0 0 3px #999;
        -webkit-box-shadow: 0 0 3px #999;
        box-shadow: 0 0 3px #999;
    }

    #opciones a {
        border-right: 1px solid #ccc;
        padding-right: 5px;
        color: #fff;
        text-decoration: none;
    }

    #opciones a:last-child {
        border: none;
    }

    #opciones a:before {
        content: " ";
    }